{% extends 'tematwigcsg/plantilla.html.twig' %}

{% block body %}
    <h1>Ficha del Empleado</h1>

    <table class="table table-vertical">
        <tbody>
            <tr>
                <th class="table-vertical">Id</th>
                <td>{{ empleado.id }}</td>
            </tr>
            <tr>
                <th class="table-vertical">Login</th>
                <td>{{ empleado.login }}</td>
            </tr>
            <tr>
                <th class="table-vertical">Ficha</th>
                <td>{{ empleado.ficha }}</td>
            </tr>
            <tr>
                <th class="table-vertical">Persona</th>
                <td><a href="{{ path('persona_edit', {'id': empleado.idpersona.id }) }}" >{{ empleado.idpersona.pNombre }} {{ empleado.idpersona.sNombre }} {{ empleado.idpersona.pApellido }} {{ empleado.idpersona.sApellido }}</a></td>
            </tr>
            <tr>
                <th class="table-vertical">Supervisor</th>
                <td>{{ empleado.idsupervisor }}</td>
            </tr> 
        </tbody>
    </table>

    <ul>
        <a class="btn btn-primary" href="{{ path('empleado_edit', {'id':empleado.id}) }}">Editar</a>
    </ul>

{% endblock %}
