{% extends 'tematwigcsg/plantilla.html.twig' %}

{% block body %}

    <ul class="tab">
      <li><a href="javascript:void(0)" class="tablinks" onclick="openExcept(event, 'Propias')" id="defaultOpen">Excepciones Propias</a></li>
      {% if (app.session.get('nivel') > 1 ) %}
        <li><a href="javascript:void(0)" class="tablinks" onclick="openExcept(event, 'Supervisados')">Excepciones de Personal a Cargo</a></li>
      {% endif %}
    </ul>

    <div id="Propias" class="tabcontent">
    <table class="table" id="ex">
        <thead>
            <tr>
                <th>Acciones en Lote</th>
                <th>Inicio</th>
                <th> Fin</th>
                <th> Duración</th>
                <th>Tipo Excepcion</th>
                <th>Tipo Estado</th>
                <th>Ejec</th>
                <th>Env</th>
                <th>Conf</th>
                <th>Remu</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for e in ex %}
                {% if (ex[0].idempleado == e.idempleado) %}
                <tr>
                    <td><input type="checkbox" name="checkboxArray"></td>
                    <td>{{ e.fechaInicio|date('Y-m-d H:m:s') }}</td>
                    <td>{{ e.fechaFin|date('Y-m-d H:m:s') }}</td>
                    <td>
                        {% if(duracions[loop.index0]|slice(0,2) != 0) %}
                            {{ duracions[loop.index0]|slice(0,2)}} Año
                        {% endif %}
                        {% if(duracions[loop.index0]|slice(7,2) != 0) %}
                            {{ duracions[loop.index0]|slice(7,2)}} Mes
                        {% endif %}
                        {% if(duracions[loop.index0]|slice(15,2) != 0) %}
                            {{ duracions[loop.index0]|slice(15,2)}} Dia
                        {% endif %}
                        {% if(duracions[loop.index0]|slice(21,2) != 0) %}
                            {{ duracions[loop.index0]|slice(21,2)}} Hora
                        {% endif %}
                        {% if(duracions[loop.index0]|slice(29,2) != 0) %}
                            {{ duracions[loop.index0]|slice(29,2)}} Minuto
                        {% endif %}
                    </td>
                    <td>{{ e.idtypoexcepcion }}</td>
                    <td>{{ e.idtypoestadoexcepcion }}</td>
                    <td>
                        {% if (e.ejecutada) %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if (e.enviada) %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if (e.conformada) %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if (e.remunerada) %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('excepcion_show', { 'id': e.id }) }}"> 
                           <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('excepcion_edit', { 'id': e.id }) }}"> 
                           <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('gen_report', { 'id': e.id }) }}"> 
                           <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
    
    {% if (app.session.get('nivel') > 1 ) %}
    <div id="Supervisados" class="tabcontent">
    <table class="table" id="exs">
        <thead>
            <tr>
                <th>Acciones en Lote</th>
                <th>Solicitante</th>
                <th>Inicio</th>
                <th> Fin</th>
                <th> Duración</th>
                <th>Tipo Excepcion</th>
                <th>Tipo Estado</th>
                <th>Ejec</th>
                <th>Env</th>
                <th>Conf</th>
                <th>Remu</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for e in ex %}
                {% if (ex[0].idempleado != e.idempleado) %}
                <tr>
                    <td><input type="checkbox" name="checkboxArray"></td>
                    {% for person in persons %}
                        {% if (person.id == e.idempleado) %}
                            <td>{{ person.pNombre }} {{ person.pApellido }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ e.fechaInicio|date('Y-m-d H:m:s') }}</td>
                    <td>{{ e.fechaFin|date('Y-m-d H:m:s') }}</td>
                    <td>
                        {% if(duracions[loop.index0]|slice(0,2) != 0) %}
                            {{ duracions[loop.index0]|slice(0,1)}} Año
                        {% endif %}
                        {% if(duracions[loop.index0]|slice(7,2) != 0) %}
                            {{ duracions[loop.index0]|slice(7,1)}} Mes
                        {% endif %}
                        {% if(duracions[loop.index0]|slice(15,1) != 0) %}
                            {{ duracions[loop.index0]|slice(15,2)}} Dia
                        {% endif %}
                        {% if(duracions[loop.index0]|slice(21,1) != 0) %}
                            {{ duracions[loop.index0]|slice(21,2)}} Hora
                        {% endif %}
                        {% if(duracions[loop.index0]|slice(29,2) != 0) %}
                            {{ duracions[loop.index0]|slice(29,2)}} Minuto
                        {% endif %}
                    </td>
                    <td>{{ e.idtypoexcepcion }}</td>
                    <td>{{ e.idtypoestadoexcepcion }}</td>
                    <td>
                        {% if (e.ejecutada) %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if (e.enviada) %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if (e.conformada) %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if (e.remunerada) %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('excepcion_show', { 'id': e.id }) }}"> 
                           <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('excepcion_edit', { 'id': e.id }) }}"> 
                           <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('gen_report', { 'id': e.id }) }}"> 
                           <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% endif %}

    <ul>
        <a href="{{ path('excepcion_new') }}"><span class="btn btn-primary">Nueva Excepción</span></a>
        <a href="{{ path('modificar1') }}"><span class="btn btn-primary">Modificar 1</span></a>
    </ul>

    <script>
    $(document).ready(function() {
        $('#ex').DataTable();
        $('#exs').DataTable();
    });
    </script>

    <script>
    function openExcept(evt, criteria) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(criteria).style.display = "block";
        evt.currentTarget.className += " active";
    };
    document.getElementById("defaultOpen").click();
    </script>

{% endblock %}
