{% extends 'base.html.twig' %}

{% block body %}
    <h1>Excepcion list PROPIAS</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Solicitante</th>
                <th>Fechasolicitud</th>
                <th>Fechacreacion</th>
                <th>Motivo</th>
                <th>Tipo Excepcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for excepcion in excepcions %}
            <tr>
                <td><a href="{{ path('excepcion_show', { 'id': excepcion.id }) }}">{{ excepcion.id }}</a></td>
                <td>{{ empleado.login }}</td>
                <td>{{ excepcion.fechaSolicitud |date('Y:m:d H:m:s')}}</td>
                <td>{{ excepcion.fechaCreacion |date('Y:m:d H:m:s')}}</td>
                <td>{{ excepcion.motivo }}</td>
                <td>{{ excepcion.idtypoexcepcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('excepcion_show', { 'id': excepcion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('excepcion_edit', { 'id': excepcion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Excepcion list COMO SUPERVISOR</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Solicitante</th>
                <th>Fechasolicitud</th>
                <th>Fechacreacion</th>
                <th>Motivo</th>
                <th>Tipo Excepcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for excepcions_supervisor in excepcions_supervisors %}
            <tr>
                <td><a href="{{ path('excepcion_show', { 'id': excepcions_supervisor.id }) }}">{{ excepcions_supervisor.id }}</a></td>
                {% for supervisor in supervisors %}
                    {% if excepcions_supervisor.solicitante == supervisor.id  %}
                        <td>{{ supervisor.login }}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ excepcions_supervisor.fechaSolicitud |date('Y:m:d H:m:s')}}</td>
                <td>{{ excepcions_supervisor.fechaCreacion |date('Y:m:d H:m:s')}}</td>
                <td>{{ excepcions_supervisor.motivo }}</td>
                <td>{{ excepcions_supervisor.idtypoexcepcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('excepcion_show', { 'id': excepcions_supervisor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('excepcion_edit', { 'id': excepcions_supervisor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
         </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('excepcion_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
