{% extends 'tematwigcsg/plantilla.html.twig' %}

{% block body %}

    <table>
        <tbody class="table">
            <tr>
                <th>Id</th>
                <td>{{ excepcion.id }}</td>
            </tr>
            <tr>
                <th>Solicitante</th>
                <td>{{ excepcion.idempleado }}</td>
            </tr>
            <tr>
                <th>Fechasolicitud</th>
                <td>{{ excepcion.fechaInicio | date('Y:m:d H:m:s')}}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{{ excepcion.fechaFin | date('Y:m:d H:m:s')}}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ excepcion.observacion }}</td>
            </tr>
            <tr>
                <th>Tipo excepcion</th>
                <td>{{ excepcion.idtypoexcepcion }}</td>
            </tr>
            <tr>
                <th>Tipo Estado</th>
                <td>{{ excepcion.idtypoestadoexcepcion }}</td>
            </tr>
            <tr>
                <th>Ejecutada</th>
                <td>{{ excepcion.ejecutada }}</td>
            </tr>
            <tr>
                <th>Enviada</th>
                <td>{{ excepcion.enviada }}</td>
            </tr>
            <tr>
                <th>Conformada</th>
                <td>{{ excepcion.conformada }}</td>
            </tr>
            <tr>
                <th>Remunerada</th>
                <td>{{ excepcion.remunerada }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('excepcion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('excepcion_edit', { 'id': excepcion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
