{% extends 'tematwigcsg/plantilla.html.twig' %}

{% block body %}

    <table class="table">
        <tbody> 
            <tr>
                <th class="table-vertical">Solicitante</th>
                <td>{{ excepcion.idempleado }}</td>
            </tr>
            <tr>
                <th class="table-vertical">Fechasolicitud</th>
                <td>{{ excepcion.fechaInicio | date('Y:m:d H:m:s')}}</td>
            </tr>
            <tr>
                <th class="table-vertical">Fechacreacion</th>
                <td>{{ excepcion.fechaFin | date('Y:m:d H:m:s')}}</td>
            </tr>
            <tr>
                <th class="table-vertical">Observacion</th>
                <td>{{ excepcion.observacion }}</td>
            </tr>
            <tr>
                <th class="table-vertical">Tipo excepcion</th>
                <td>{{ excepcion.idtypoexcepcion }}</td>
            </tr>
            <tr>
                <th class="table-vertical">Tipo Estado</th>
                <td>{{ excepcion.idtypoestadoexcepcion }}</td>
            </tr>
            <tr>
                <th class="table-vertical">Ejecutada</th>
                <td>{{ excepcion.ejecutada }}</td>
            </tr>
            <tr>
                <th class="table-vertical">Enviada</th>
                <td>{{ excepcion.enviada }}</td>
            </tr>
            <tr>
                <th class="table-vertical">Conformada</th>
                <td>{{ excepcion.conformada }}</td>
            </tr>
            <tr>
                <th class="table-vertical">Remunerada</th>
                <td>{{ excepcion.remunerada }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <a href="{{ path('excepcion_edit', { 'id': excepcion.id }) }}"><span class="btn btn-primary">Modificar</span></a>
        <a href="{{ path('excepcion_new') }}"><span class="btn btn-primary">Enviar</span></a>
        <a href="{{ path('excepcion_new') }}"><span class="btn btn-primary">Conformar</span></a>
    </ul>

{% endblock %}
