{% extends 'base.html.twig' %}

{% block body %}
    <h1>TypoEstadoExcepcion list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typoEstadoExcepcion in typoEstadoExcepcions %}
            <tr>
                <td><a href="{{ path('typoestadoexcepcion_show', { 'id': typoEstadoExcepcion.id }) }}">{{ typoEstadoExcepcion.id }}</a></td>
                <td>{{ typoEstadoExcepcion.descripcion }}</td>
                <td>{{ typoEstadoExcepcion.activo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typoestadoexcepcion_show', { 'id': typoEstadoExcepcion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typoestadoexcepcion_edit', { 'id': typoEstadoExcepcion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typoestadoexcepcion_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
